@import url(global.css);

.glow-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 130px;
  display: none;
  pointer-events: none;
  z-index: 10;
  height: auto;
  object-fit: contain;
}
.title-main h2{
  color: var(--brown-dark);
}

@media(min-width:320px){
  body.main-page{
    background: url(../images/repeat-back-girl.png) 0 0 repeat-y, url(../images/Illustrations_arriere-plan_HR.png) 40% 137px no-repeat;
    background-size: contain;
  }
  body.album-page{
    background: url(../images/repeat-back-girl.png) 0 0 repeat-y, url(../images/album-bg.png) 29% -12px no-repeat;
    background-size: contain;
    background-color: #E7E7E7;
  }

  .map{
    background-image: url(../images/map-images/map-new-mobile.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 325px;
    height: 330px;
    margin:100px auto;
    position: relative;
  }
  .island[data-id="bio"] .glow-image { 
    top: 161px;
    left: 140px;
    width: 45px;
  }
  .island[data-id="gaelebiche"] .glow-image { 
    top: 187px;
    left: 225px;
    width: 60px;
  }
  .island[data-id="albums"] .glow-image { 
    top: 121px;
    left: 27px;
    width: 64px;
  }
  .island[data-id="latreve"] .glow-image { 
    top: 142px;
    left: 191px;
    width: 104px;
  }
  .island[data-id="les2l"] .glow-image { 
    top: 26px;
    left: 173px;
    width: 87px;
  }
  .island[data-id="pourlesautres"] .glow-image { 
    top: 244px;
    left: 87px;
    width: 52px;
  }
  .gaele-carousel-wrap{
    padding:30px 20px;
    position: relative;
    background-position: 0 0;
  }
  .slide-box{
    position: relative;
    width: 100%;
    transition: all 500ms ease-in-out;
    overflow: hidden;
  }
  .slide-box .overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(69, 39, 5, 0.6);
    transition: all 500ms ease-in-out;
    z-index: 1;
  }
  .slide-box img{
    object-fit: cover;
    width: 100%;
    transition: all 500ms ease-in-out;
     transform: scale(1.25);
  }
  .slide-box:hover img{
    transition: all 500ms ease-in-out;
    transform: scale(1.35);
  }
  .slide-box .overlay span{
    font-size: var(--font-size-base);
    transition: all 500ms ease-in;
    line-height: 160%;
  }
  .slide-box:hover .overlay span{
    opacity: 0;
    transition: all 500ms ease-out;
  }
  .slide-box:hover .overlay{
    background-color:rgba(69, 39, 5, 0);
    transition: all 500ms ease-in-out;
  }
  .gaele-carousel-wrap:before{
    background-position: -90px -50px;
    background-size: 160% 80%;
  }
  .about-section{
    padding:30px 20px;
    background: url(../images/about-text-shape-bg.svg) 55% 150% no-repeat;
    background-size: 600px;
  }
  .album-page .about-section{
    background: none;
  }
  .about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about-text{
    color: var(--brown-dark);
    font-size: var(--font-size-lg);    
    padding: 20px 20px;
  }
  .about-text a{
    color: var(--brown-dark);
    text-decoration: underline;
  }
  .about-image img{
    object-fit: cover;
    width: 100%;
    height: auto;
    max-width: 380px;
  }
  .t-text-pushed{
    padding-left: 15%;
  }
  .album-page .svg-image svg{
    object-fit: cover;
    width: 100%;
  }
  .album-page .about-text{
    padding: 20px 0;
}
@media(min-width:640px){
  body.main-page{
    background: url(../images/repeat-back-girl.png) 0 0 repeat-y, url(../images/Illustrations_arriere-plan_HR.png) 50% 126px no-repeat;
    background-size: contain;
  }
}
@media(min-width:768px){
  .about-section {
    padding: 80px 6% 50px 6%;
    background-position: 15% 10%;
    background-size: 952px;
  }
  .about-text{
    padding: 50px 10%;
  }
  .gaele-carousel-wrap{
    padding: 50px 10%;
  }
  .album-page .about-text{
    padding: 50px 0%;
  }
  .album-page .about-section{
    padding: 50px 10%;
  }
}
@media(min-width:992px){
  body.main-page{
    background: url(../images/repeat-back-girl.png) 0 0 repeat-y, url(../images/Illustrations_arriere-plan_HR.png) 0% -50px no-repeat;
    background-size: cover;
  }
  .content{
    position: relative;
  }  
  .gaele-carousel-wrap{
    padding: 70px 6%;
    background-position: 0 0;
  }
  .gaele-carousel-wrap:before{
    background-position: 0px 0px;
    background-size: cover;
  }
  .about-section{
    padding:80px 6% 50px 6%;
    background-position: 95% 60%;
    background-size: 562px;
  }
  .about-container{
    flex-direction: row;
  }
  .about-text{
    font-size: var(--font-size-lg);    
    color: var(--brown-dark);
    width: 50%;
    line-height: 1.4;
    padding: 20px 0;
  }  
  .t-text{
    margin-left: -10%;
  }
  .about-image{
    width: 50%;
  }
  .album-page .about-image,
  .album-page .about-text{
    width: 100%;
  }
  .album-page .about-section{
    padding: 80px 6%;
  }
  .album-page .album-text{
    padding-bottom: 0px;
  }
  .about-image img{
    object-fit: cover;
    width: 100%;
    height: auto;
  }
  .map{
    background-image: url(../images/map-images/map-new.svg);
    background-size: 100% 560px;
    width: 825px;
    height: 560px;
    margin: 30px auto 0 auto;
  } 
  .island {
    position: absolute;
    width: 250px;
    height: 250px;
  }
  .island[data-id="bio"] .glow-image { 
    top: 110%;
    left: 376px;
    width: 70px;
  }
  .island[data-id="gaelebiche"] .glow-image { 
    top: 127%;
    left: 524px;
    width: 98px;
  }
  .island[data-id="albums"] .glow-image { 
    top: 84%;
    left: 192px;
    width: 95px;
  }
  .island[data-id="latreve"] .glow-image { 
    top: 96%;
    left: 454px;
    width: 182px;
  }
  .island[data-id="les2l"] .glow-image { 
    top: 21%;
    left: 433px;
    width: 138px;
  }
  .island[data-id="pourlesautres"] .glow-image { 
    top: 166%;
    left: 286px;
    width: 82px;
  }
  .album-text{
    padding-bottom: 0;
  }
  .album-text p{
    font-size: var(--font-size-xl)
  }
  .about-image img{
    max-width: 500px;
  }
}

@media(min-width:1200px){
  .slide-box .overlay span{
    font-size: var(--font-size-xl);
    transition: all 500ms ease-in;
    line-height: 180%;
  }
  .about-text{
    font-size: var(--font-size-xl);    
    padding: 60px 0px;
  }
  .album-text{
    padding-bottom: 0;
  }
  .map{
    background-size: 700px 680px;
    width:700px;
    height: 680px;
  }
  .island[data-id="bio"] .glow-image { 
    top: 134%;
    left: 302px;
    width: 87px;
  }
  .island[data-id="gaelebiche"] .glow-image { 
    top: 155%;
    left: 487px;
    width: 117px;
  }
  .island[data-id="albums"] .glow-image { 
    top: 102%;
    left: 83px;
    width: 116px;
  }
  .island[data-id="latreve"] .glow-image { 
    top: 116%;
    left: 400px;
    width: 223px;
  }
  .island[data-id="les2l"] .glow-image { 
    top: 26%;
    left: 377px;
    width: 166px;
  }
  .island[data-id="pourlesautres"] .glow-image { 
    top: 202%;
    left: 197px;
    width: 98px;
  }
  .about-text{
    font-size: var(--font-size-xl);    
    padding: 110px 0px;
  }
  .gaele-carousel-wrap{
    padding: 90px 6%;
  }

}
@media(min-width:1400px){
  .map{
    background-size:100% 800px;
    height: 800px;
  }
  .island[data-id="bio"] .glow-image { 
    top: 158%;
    left: 299px;
    width: 96px;
  }
  .island[data-id="gaelebiche"] .glow-image { 
    top: 181%;
    left: 504px;
    width: 138px;
  }
  .island[data-id="albums"] .glow-image { 
    top: 121%;
    left: 45px;
    width: 132px;
  }
  .island[data-id="latreve"] .glow-image { 
    top: 138%;
    left: 408px;
    width: 253px;
  }
  .island[data-id="les2l"] .glow-image { 
    top: 34%;
    left: 380px;
    width: 191px;
  }
  .island[data-id="pourlesautres"] .glow-image { 
    top: 235%;
    left: 175px;
    width: 112px;
  }
  .about-image img{
    max-width: 920px;
  }

}

@media(min-width:1920px){
  body.main-page{
    background: url(../images/repeat-back-girl.png) 0 0 repeat-y, url(../images/Illustrations_arriere-plan_HR.png) 50% -70px no-repeat;
  }
  .map {
    background-size:100% 904px;
    height: 906px;
    width: 826px;
  }
  .island[data-id="bio"] .glow-image { 
    top: 447px;
    left: 353px;
    width: 112px;
  }
  .island[data-id="gaelebiche"] .glow-image { 
    top: 515px;
    left: 593px;
    width: 157px;
  }
  .island[data-id="albums"] .glow-image { 
    top: 340px;
    left: 57px;
    width: 153px;
  }
  .island[data-id="latreve"] .glow-image { 
    top: 387px;
    left: 478px;
    width: 297px;
  }
  .island[data-id="les2l"] .glow-image { 
    top: 84px;
    left: 447px;
    width: 224px;
  }
  .island[data-id="pourlesautres"] .glow-image { 
    top: 670px;
    left: 210px;
    width: 130px;
  }
  .about-section{
    background-size: 1220px;
    background-position: 110% 43%;
    padding: 150px 6%;
  }
  .about-text{
    font-size: var(--font-size-xxl);    
    padding: 110px 0px;
  }
  .t-text {
    margin-left: -30%;
  }
  .gaele-carousel-wrap{
    padding: 150px 6%;
  }

}

